@model List<ToDoItems>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2>Task List</h2>

        </div>
        <div class="col-6">
            <a asp-action="Create" asp-controller="TaskList" class="btn btn-primary">Create New Task</a>
        </div>
    </div>
    <br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Item Description</th>
                    <th>Due Date</th>
                    <th>Employee</th>
                    <th>Progress</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach (ToDoItems item in Model)
                {
                    string tOrF;
                    if(item.Progress == false)
                    {
                        tOrF = "Not Done";
                    }
                    else
                    {
                        tOrF = "Completed";
                    }
                <tr>
                    <td width="35%">@item.ItemDescription</td>
                    <td width="20%">@item.DueDate</td>
                    <td width="15%">@item.AssignedEmployee</td>
                    <td width="10%">@tOrF</td>
                    <td width="10%">
                        <div class="w-150 btn-group" role="group">
                            <a asp-action="Complete" asp-controller="TaskList" asp-route-Id="@item.Id" class="btn btn-success mx-1">Mark Complete</a>
                            <a asp-action="Update" asp-controller="TaskList" asp-route-Id="@item.Id" class="btn btn-primary mx-1">Edit</a>
                            <a asp-action="Delete" asp-controller="TaskList" asp-route-Id="@item.Id" class="btn btn-danger mx-1">Delete</a>
                        </div>
                    </td>


                </tr>
                }
             </tbody>
        </table> 
    }
    else
    {
        <p>No tasks created yet</p>
    }



</div>